.AddUserIcon {
    width: 18px;
    height: 18px;
    display: inline-flex;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
}

.DownloadIcon {
    width: 30px;
    height: 30px;
    color: #16a34a;
    display: inline-flex;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
}
